---
import Layout from '../layouts/Layout.astro';
import ArticleCard from '../components/modules/Card/ArticleCard';
import SearchForm from '../components/modules/Search/SearchForm.jsx';
import { BASE_URL } from '../scripts/modules/baseURL.js';
import { array__allArticleData } from '../scripts/api/notionBlog.js';
import { array__allCategory } from '../scripts/array__allCategory.js';
import { array__allNewsData } from '../scripts/api/notionNews.js';
import { Picture } from 'astro-imagetools/components';
import '../styles/topPage.scss';

const filterArticleData = array__allArticleData.filter((value) => {
  return value.published;
});

const publishedArticle = filterArticleData.slice(0, 6);

const pubYears = Array.from(
new Set(
	array__allArticleData
		.map(item => item.date?.slice(0, 4).toString())
		.filter(Boolean)
)).sort(); 

const hierarchies = [];

const lists = [];

const boolArticlePage = false;
---

<Layout
	url=`${BASE_URL}/`
	title="zatty's Blog"
	description="フロントエンドエンジニアの「zatty」が制作したAstro.jsベースのブログページです。ブログ記事はnotionで記述し、APIを使って表示させています。シンプルで見やすいデザインにしました。"
	hierarchies={hierarchies}
	lists={lists}
	articlePage={boolArticlePage}
>
	<main>
		<section class="mainView">
			<div class="mainView_image">
				<Picture
					src="/public/images/mainView/mainView_sp.jpg"
					alt="zatty's Blog トップ画像"
					loading="null"
					decoding="null"
					placeholder="none"
					artDirectives={[
						{
							media: '(min-width: 768px)',
							src: '/public/images/mainView/mainView_pc.jpg',
						},
					]}
			  	/>	  
			</div>
		</section>
		<section class="newArticle">
			<div class="inner">
				<h2>新着記事</h2>
				<ArticleCard articles={publishedArticle} cardType="shadow" client:load/>
				<div class="link">
					<a href=`${BASE_URL}/article/list/page=1`>もっと見る</a>
				</div>
			</div>
		</section>
		<section class="searchArticle">
			<div class="inner">
				<h2>記事を検索</h2>
				<SearchForm years={pubYears} client:load/>
			</div>
		</section>
		<section class="categoryList">
			<div class="inner">
				<h2>カテゴリー</h2>
				<div>
					<ul>
						{array__allCategory.map((value) =>
							<li class={value.categorySlug}>
								<a href={`${BASE_URL}/article/category/${value.categorySlug}/page=1`}>{value.category}</a>
							</li>
						)}
					</ul>
				</div>	
			</div>
		</section>	
		<section class="newsList">
			<div class="inner">
				<h2>お知らせ</h2>
				<ul>
					{array__allNewsData.map((news) =>
						<li>
							<div class="head">
								<div class="date">
									<time datetime={news.date}>{`${new Date(news.date).getFullYear()}/${('0'+(new Date(news.date).getMonth()+1)).slice(-2)}/${('0'+(new Date(news.date).getDate())).slice(-2)}`}</time>
								</div>
								<div class="category">
									<p class={`${
									news.category === "Portfolio" ? "portfolio" : news.category === "Blog" ? "blog" : 
									"storybook"
									}`}>{news.category}</p>
								</div>
							</div>
							<div class="title">
								<p>{news.title}</p>
							</div>
						</li>
					)}	
				</ul>	
			</div>
		</section>
	</main>
</Layout>
