---
import { Image } from 'astro:assets';
import { BASE_URL } from '../scripts/modules/baseURL.js';
import logo  from '../../public/images/header/header_blog_logo.svg';
import '../styles/global/header.scss';
---

<header>
    <div class="wrapper">
        <div class="logo">
            <a href=`${BASE_URL}/`>
                <Image src={logo} alt="zatty'sBlogのロゴ" width={logo.width} height={logo.height}></Image>
            </a>
        </div>
        <div class="menu">
            <div class="menu_item">
                <a href=`${BASE_URL}/article/list/page=1`>全ての記事</a>
            </div>
            <div class="menu_item">
                <a href=`${BASE_URL}/profile`>プロフィール</a>
            </div>
        </div>
    </div>
</header>