---
import MetaData from '../components/MetaData.astro';
import StructuredData from '../components/Breadcrumb/StructuredData.astro';
import Breadcrumb from '../components/Breadcrumb/Breadcrumb.astro';
import GoogleFonts from '../components/GoogleFonts.astro';
import GoogleTagManeger from '../components/GoogleTagManeger.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { ViewTransitions } from 'astro:transitions';
import '../styles/global/global.scss';
import '../styles/vendor/reset.scss';
const { url,title,description,hierarchies,lists } = Astro.props;
const VITE_GTM_ID = import.meta.env.VITE_GTM_ID;
---

<!DOCTYPE html>
<html lang="ja">
  	<head>
		<MetaData 
			url={url}
			title={title}
			description={description}
            lists={lists}
		/>
		<GoogleTagManeger id={VITE_GTM_ID}/>
		<GoogleFonts />
		<ViewTransitions />
		<StructuredData hierarchies={hierarchies} />
	</head>
  	<body>
		<Header id={VITE_GTM_ID}/>
        <Breadcrumb lists={lists}/>
        <slot />
		<Footer />
  	</body>
</html>