---
import MetaData from '../components/common/MetaData.astro';
import StructuredData from '../components/common/Breadcrumb/StructuredData.astro';
import Breadcrumb from '../components/common/Breadcrumb/Breadcrumb.astro';
import GoogleFonts from '../components/common/GoogleFonts.astro';
import GoogleTagManeger from '../components/common/GoogleTagManeger.astro';
import Header from '../components/common/Header.astro';
import Footer from '../components/common/Footer.astro';
import { ViewTransitions } from 'astro:transitions';
import '../styles/global/global.scss';
import '../styles/vendor/reset.scss';
const { url,title,description,hierarchies,lists,articlePage } = Astro.props;
const GOOGLE_TAG_MANAGER = import.meta.env.GOOGLE_TAG_MANAGER;

const classArticlePage = articlePage ? "articlePage" : "";
---

<!DOCTYPE html>
<html lang="ja">
  	<head>
		<MetaData 
			url={url}
			title={title}
			description={description}
            lists={lists}
		/>
		<GoogleTagManeger id={GOOGLE_TAG_MANAGER}/>
		<GoogleFonts />
		<ViewTransitions />
		<StructuredData hierarchies={hierarchies} />
	</head>
  	<body class={classArticlePage}>
		<Header id={GOOGLE_TAG_MANAGER}/>
        <Breadcrumb lists={lists}/>
        <slot />
		<Footer />
  	</body>
</html>